params {

    // CMA module test files from S3
    cma_two_traits             = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/two_traits/fhshdl/'
    cma_three_complete_corr    = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_complete_correlation/'
    cma_three_missing_obs      = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_missing_observations/'

    // MEA preprocess
    pipeline                   = 'cma'
    trait                      = 'fhshdl'
    module_file_dir            = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mea/preprocess/cherryPickModules/'
    gene_col_name              = 'markname'
    pval_col_name              = 'meta_p'

    // MEA postprocess
    numtests                   = 17551
    alpha                      = 0.05

    // Boilerplate options
    publish_dir_mode           = 'copy'
    email                      = 'jungw@wustl.edu'
    //email_on_fail              = null
    outdir                     = 'results'
    //monochrome_logs            = null
    //hook_url                   = null
}

includeConfig 'modules.config'

process {
    executor = 'local'
    publishDir = [
        mode: "copy",
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    ]
}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "singularity_images"
}

conda.enabled = true


NXF_SINGULARITY_CACHEDIR="/scratch/mblab/jungw/singularity_cache/"
NXF_CONDA_CACHEDIR="/scratch/mblab/jungw/conda_cache/"
