/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/omicsgenetraitassociation -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // pipeline parameters
    trait                      = 'fhshdl'
    input                      = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/minimal/samplesheet.csv'

    // PASCAL
    pascal_gwas_file           = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/gwasA.csv.gz'
    pascal_gene_annotation     = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/gene_annotation.tsv'
    // nextflow does not support s3 glob operations (tarballed)
    pascal_ref_panel           = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/EUR_simulated.tar.gz'

    // MMAP
    mmap_gene_list             = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/minimal/mmap/demo_gene_list.txt'
    mmap_pheno_file            = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/minimal/mmap/demo_phenotype.csv'
    mmap_pedigree_file         = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/minimal/mmap/pedigree.csv'
    mmap_cov_matrix_file       = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/minimal/mmap/demo.kinship.bin'


    // CMA module test files from S3
    cma_test                   = 'two_traits'
    cma_two_traits             = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/two_traits/fhshdl/'
    cma_three_complete_corr    = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_complete_correlation/'
    cma_three_missing_obs      = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_missing_observations/'

    // MEA preprocess
    pipeline                   = 'cma'
    module_file_dir            = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mea/preprocess/cherryPickModules/'
    gene_col_name              = 'markname'
    pval_col_name              = 'meta_p'

    // MEA postprocess
    numtests                   = 17551
    alpha                      = 0.05
}
