params {

        // pipeline parameters
        trait                                            = 'fhshdl'

        // PASCAL
        pascal_gwas_file                     = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/gwasA.csv.gz'
        pascal_gene_annotation         = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/gene_annotation.tsv'
        // nextflow does not support s3 glob operations (tarballed)
        pascal_ref_panel                     = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/pascal/EUR_simulated.tar.gz'
        pascal_header                            = 0
        pascal_pval_col                        = 1

        // MMAP
        mmap_gene_list                         = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mmap/gene_list_gwasA_twas.txt'
        mmap_pheno_file                        = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mmap/mmap_pheno_adjusted_fhshdl_HGNC_gwasA_genes.csv'
        mmap_pedigree_file                 = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mmap/mmap.ped.v5.csv'
        mmap_cov_matrix_file             = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mmap/llfs.kinship.bin'
        mmap_header                                = 1
        mmap_pval_col                            = 'p_vals'
        mmap_beta_col                            = 'betas_genes'
        mmap_se_genes                            = 'se_genes'


        // CMA module test files from S3
        cma_two_traits                         = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/two_traits/fhshdl/'
        cma_three_complete_corr        = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_complete_correlation/'
        cma_three_missing_obs            = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/cma/three-traits/test_category_missing_observations/'

        // MEA preprocess
        pipeline                                     = 'cma'
        module_file_dir                        = 's3://brentlab-nextflow-testdata/omicsgenetraitassociation/mea/preprocess/cherryPickModules/'
        gene_col_name                            = 'markname'
        pval_col_name                            = 'meta_p'

        // MEA postprocess
        numtests                                     = 17551
        alpha                                            = 0.05

        // Boilerplate options
        publish_dir_mode                     = 'copy'
        email                                            = 'jungw@wustl.edu'
        //email_on_fail                            = null
        outdir                                         = 'results'
        //monochrome_logs                        = null
        //hook_url                                     = null
}

includeConfig 'modules.config'

process {
        executor = 'local'
        publishDir = [
                mode: "copy",
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        ]
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "singularity_images"
}

conda.enabled = true

NXF_SINGULARITY_CACHEDIR="/scratch/mblab/jungw/singularity_cache/"
NXF_CONDA_CACHEDIR="/scratch/mblab/jungw/conda_cache/"
